.text{
    color: white;
}

.display{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.textBox{
    flex: 50%;
    padding: 5px;
    border: 3px solid red;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
   
}

.title{
    font-family: "Audiowide", serif;
    font-style: oblique;
    font-size: 25px;
    text-align: center;
}

ol{
    padding-left: 25px;
    padding-top: 10px;
    font-size: 18px;
}

li{
    padding-top: 10px;
}

.videoBox{
    flex:45%; 
}

.audioBox{
    flex: 45%;
    padding: 5px;
    border: 3px solid red;
    border-radius: 15px;
    text-align: center;
}

.audioName{
    margin-top: 20px;
    font-family: "Audiowide", serif;
    font-style: oblique;
    font-size: 18px;
    text-align: center;
}



.audio{
    margin-top: 5px;
    
}

.photoBox{
    flex: 50%;
    text-align: center;
    align-content: center;
    
}

.photo{

    width: 100% ;
    height: auto;
}


.paragraphe{
    margin: 10px;
}


@media screen and (max-width: 920px) {
   
    .textBox{
        flex: 100%;
        order: 2;
   }

    .videoBox{
        flex: 100%;
        order: 1;
    }

    .audioBox{
        flex: 100%;
        order: 3;
    }

    .photoBox{
        flex: 100%;
        order: 4;
    }
       
}

