.main {
    margin: auto;
    max-width: 1400px;
}

.siteIcon {
    background-image: URL('../images/F1.svg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.content {
    border:4px solid lightgray;
    border-radius: 30px;
    padding: 10px;
}

.content p {
    text-align: justify;
}
